/**
 * @file
 * Styles for tocify block reduced to the absolute minimum.
 */

.tocify {
  overflow: auto;
  height: 90%;
}

.tocify ul,
.tocify li {
  padding: 0;
  list-style: none;
}

.tocify-subheader {
  display: none;
  text-indent: 20px;
}

.tocify-subheader .tocify-subheader {
  text-indent: 30px;
}

.tocify-subheader .tocify-subheader .tocify-subheader {
  text-indent: 40px;
}

.tocify-focus {
  background-color: white;
}
